aiofiles
aiogram
aiohappyeyeballs
aiohttp
aiosignal
annotated-types
asyncpg
attrs
certifi
charset-normalizer
frozenlist
greenlet
idna
magic-filter
multidict
propcache
pydantic
pydantic_core
python-dotenv
requests
SQLAlchemy
typing_extensions
urllib3
yarl
